.card-container {
  font-weight: bold;
  width: 400px;
  height: 450px;
  margin: 80px auto;
  border-radius: 10px;
}

.card {
  position: relative;
  cursor: pointer;
  border: 1px black solid;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-wrap: wrap;
}

.card:hover {
  border: 5px black solid;
}

.selected {
  border: 5px black solid;
}

.card #pro-image {
  width: 220px;
  height: 230px;
}

.card #cdl-logo {
  width: 120px;
}

.card .card-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
